body{
    font-family: 'Roboto', sans-serif;
    background-color: aqua;
}
#registration button{
    font-weight: 300;
}
#tag-line{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background: url("images/plus.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
#input-search{
    background: url("images/search.png");
    background-repeat: no-repeat;
    background-position: 5% 50%;
}
#welcome-back span{
    background: url("images/Rectangle.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
#searchBar-icon .first-icon{
    background: url("images/Vector.png");
    background-repeat: no-repeat;
    display: block;
    display: inline-block;
    background-size: contain;
}
#searchBar-icon .second-icon{
    background: url("images/Vector02.png");
    background-repeat: no-repeat;
    display: block;
    display: inline-block;
    background-size: contain;
}
#nav-bar .my-programs{
    background: url("images/Vector\ 613.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
#nav-bar .swipes{
    background: url("images/Vector\ 614.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
#ul-list li:first-child{
    list-style-image: url("images/Ellipse01.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
#ul-list li:not(:first-child){
    list-style-image: url("images/Chevron.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
#status-bar{
    background-image: url("images/Rectangle1067.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
}
#fast-start{
    background-image: url("images/Vector614.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    font-family: 'Inter', sans-serif;
}
#need-help{
    font-family: 'Poppins', sans-serif;   
}
#available{
    background-image: url("images/Ellipse166.png");
    background-repeat: no-repeat;
    background-position: 25% 50%;
}
#user-name{
    font-family: 'Poppins', sans-serif;
}
#btn-msg{
    background-image: url("images/VectorMsg.png");
    background-repeat: no-repeat;
    background-position: 10% 50%;
    font-family: 'Inter', sans-serif;
}
#per-day{
    font-family: 'Poppins', sans-serif;
}
#ul-perday{
    list-style-image: url("images/Check-icon.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
#greeting{
    font-family: 'Poppins', sans-serif;
}
#vid-title{
    font-family: 'Poppins', sans-serif;
}
#bottom-name{
    background-image: url("images/VectorCheckdark.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
#next-lesson{
    background-image: url("images/Arrow.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
#sort{
    background-image: url("images/Sort.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
}
.like{
    background-image: url("images/like.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
}
.unlike{
    background-image: url("images/unlike.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
}
.view-reply{
    background-image: url("images/Rectangle.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
}
#dl-resource{
    font-family:  'Poppins', sans-serif;
}
.link-fonts{
    font-family: 'Inter', sans-serif;
}
.dl-icons{
    background-image: url("images/Icon-arrow-down.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
}
.family-poppins{
    font-family: 'Poppins', sans-serif;;
}
